@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

@media (max-width: 768px) {
}

@layer components {
  .btn-social {
    @apply flex cursor-pointer bg-gradient-to-tr from-emerald-700 to-emerald-400 
    hover:bg-gradient-to-tr hover:from-emerald-900 hover:to-emerald-500 border-[0.1rem] 
    border-emerald-800 hover:border-emerald-950 hover:text-white p-2 
    justify-center items-center gap-2 rounded-lg font-semibold;
  }
  .ranger-align {
    @apply flex flex-col justify-start items-start text-start font-medium;
  }
  .list-hab {
    @apply border-[0.1rem] rounded-md p-2 border-white/30 text-center shadow-md
    shadow-white/20 items-center justify-center h-[6.2rem] bg-gradient-to-tr from-emerald-900
     to-emerald-600;
  }
}
